.container {
  border-bottom: 1px solid goldenrod;
  padding: 1.5rem 5rem;
  display: flex;
  justify-content: space-between;
}

.buttonsAndCounter {
}

.buttons {
  display: block;
  padding: 0.2rem 0.5rem;
  width: 100%;

}

.counter {
  padding: 0.2rem;
  text-align: center;

}

.container h3 {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .container {

  }
}
